{:deps {org.clojure/spec.alpha {:mvn/version "0.2.187"}
        com.wsscode/pathom {:mvn/version "2.3.0"}
        weavejester/dependency {:mvn/version "0.2.1"}
        prismatic/plumbing {:mvn/version "0.5.5"}
        org.clojure/core.async {:mvn/version "1.2.603"}}}
