{:dependencies
 [[org.clojure/clojurescript "1.10.238"]
  [com.wsscode/pathom "2.0.0-beta3" :exclusions [org.clojure/clojurescript]]
  [clojure-future-spec "1.9.0-beta4"]]

 :source-paths
 ["src" "dev/src/common" "dev/src/sqlite"]

 :builds
 {:app {:target    :node-script
        :output-to "run.js"
        :main      dev/main
        :devtools {;; :before-load-async demo.script/stop
                   :after-load dev/main}}}}
