{:dependencies
 [[org.clojure/clojurescript "1.10.764"]
  [com.wsscode/pathom "2.3.0-alpha9" :exclusions [org.clojure/clojurescript]]
  [prismatic/plumbing "0.5.5"]
  [org.clojure/test.check "1.0.0"]
  [org.clojure/spec.alpha "0.2.187"]]

 :source-paths
 ["src" "dev/src/common" "dev/test/common" "dev/test/sqlite" "test"]

 :builds
 {:app  {:target    :node-script
         :output-to "run.js"
         :main      dev/main
         :devtools  {;; :before-load-async demo.script/stop
                     :after-load dev/main}}
  :test {:target    :node-test
         :output-to "test.js"}}}
